body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}
.header{
    display:flex;
    flex-direction: column;
    padding:0 250px;
    color: white;
    background-color:#1F2937;
    padding-bottom: 25px;
}
.topheader{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
ul{
    list-style-type: none;
    display:flex;
    gap: 18px;
    padding: 0px;
}
a{
    color: white;
    text-decoration: none;
}
.bottomheader{
    display:flex;
    height: 50vh;
    align-items: center;
}

.lheader{
    display:flex;
    flex-direction: column;
    width: 500px;
}
.tlheader{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.mlheader{
    font-size: 18px;
    color: #E5E7EB;
}
.blheader{
    text-align: center;
    width: 100px;
    background: #3882F6;
    color: #F9FAF8;
    border: 1px solid #3882F6;
    margin-top: 12px;
    font-size: 18px;
    border-radius: 10px;
}
.rheader{
    flex:1;
    display:flex;
}

.rheader img{
    flex: 1;
    max-width: 80%;
    margin-left: auto;
}
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}
.cheader{
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    margin: 50px;

}
.ccontainer{
    display:flex;
    padding:0px auto;
    gap: 25px;
}
.card{
    display:flex;
    flex-direction: column;
    flex:1;
    margin-bottom: 50px;
    max-height: 250px;
    max-width: 425px;
}

.bottom{
    background-color: #E5E7EB;
    height: 450px;
    padding: 0px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}
.bqutoes{
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}
.bteller{
    align-self: flex-end;
    font-weight: bold;
}
.about{
    padding:50px 175px;
    display:flex;
    margin:50px  400px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}
.atext{
    display:flex;
    flex-direction: column;
    

}
.atextf{
    font-size: 24px;
    font-weight: bold;
}
.atexts{
    font-size: 18px;
}
.abutton{
    color: white;
    background-color: #3882F6;
    border: 2px solid;
    border-radius: 8px;
    margin-left: auto;
    padding: 5px 25px;
    font-size: 16px;
    align-self: center;
}
.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    height: 100px;
    background-color:#1F2937;
    color: white;
    font-size: 18px;
}